App {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button {
    display: none;
}