.signup-container {
    width: 100%;
    max-width: 1000px;
    /*max-width: 1000px;*/
    margin: 0 auto;
    padding: 20px;
}
.SIGNUPheader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.signup-card {
    background: linear-gradient(to bottom, #f0f9ff 0%, #e0f2fe 100%);
    border-radius: 40px;
    padding: 60px 80px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    border: 2px solid #38bdf8;
}
.SIGNUPlogo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-top: 6px;
}

.SIGNUPtitle {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    background: linear-gradient(to right, #0069dc, #01957f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.user-type-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.user-type-btn {
    flex: 1;
    max-width: 180px;
    padding: 16px 20px;
    border: 2px solid #cbd5e1;
    background: white;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #475569;
}

.user-type-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.user-type-btn:hover {
    border-color: #0891b2;
    transform: translateY(-2px);
}

.user-type-btn.active {

}

.user-type-btn.active[data-type="volunteer"] {
    border-color: #10b981;
    background: #edfcf5;
    color: #10b981;
}

.user-type-btn.active[data-type="organizer"] {
    border-color: #488af7;
    background: #eff7fe;
    color: #488af7;
}

.user-type-btn svg {
    width: 28px;
    height: 28px;
}

.input-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
